* {
    margin: 0;
    box-sizing: border-box;
}
header {
    padding: 20px 50px;
    background-color: deeppink;
    display: flex;
    text-align: center;
}
body {
    background-color: #f2f2f2;
}

.socialapp {
    color: white;
    margin: 0 auto;
}

.title {
    margin-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: 400;
}
.divContainer {
    max-width: 400px;
    margin: 10px auto;
    padding: 15px 25px;
    border-radius: 2px;
    background-color: white;
}
form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
input {
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: antiquewhite;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aqua;
    font-weight: bold;
    height: 25px;
    border: none;
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: rgb(16, 186, 186);
}

.photo {
    display: flex;
    align-items: center;
    padding: 5px 0;
    height: 30px;
    border: 1px dashed rgb(16, 186, 186);
    border-radius: 5px;
    text-align: center;
}
